* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'inter';
  background-color: wheat;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.section1 {
  letter-spacing: 1.2px;
  font-size: 1rem;
  background-color: #333;
  position: fixed;
  width: 1263px;
}

.section1 .container .navigation {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 500;
}

.section1 .container .navbar1 {
  padding: 20px 15px;
}

.section1 .container .navbar1 a {
  text-decoration: none;
  color: white;
  border-radius: 1px;
  padding: 20px 20px;
}

.section1 .container .navbar2 button {
  text-decoration: none;
  border: none;
  color: white;
  letter-spacing: 1.2px;
  font-size: 1rem;
  background-color: #333;
  border-radius: 1px;
  padding: 20px 15px;
}

.section1 .container .navbar2 {
  flex-grow: 1;

}

.section1 .container .navigation .navbar1 a:hover {
  background-color: red;
}

.section1 .container .navigation .navbar2 button:hover {
  background-color: red;

}

.section1 .container .navigation .navbar2 .dropdown-content {
  letter-spacing: 1.2px;
  margin-left: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 00px 20px 0px 20px rgba(24, 17, 17, 0.2);
  z-index: 1;
}

.section1 .container .navigation .navbar2 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.section1 .container .navigation .navbar2 .dropdown-content a:hover {
  background-color: #ddd;
}

.section1 .container .navigation .navbar2:hover .dropdown-content {
  display: flex;
}

.section2 {
  padding-top: 100px;
}

.section2 .container .a2b h2 {
  color: rgb(79, 70, 236);
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  font-weight: 600;
}

.section2 .container .a2b h2>span {
  color: red;

}

.section2 .container .a2b>span {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  color: rgb(54, 192, 4);
  margin-left: 30px;

}

.section3 {
  word-spacing: 2.1px;
  letter-spacing: 0.3px;
  background: aliceblue;
  margin: 70px 150px;
  padding: 20px 0;
 
}

.section3 .container .welcomeMessage ul li {
  line-height: 40px;
}

.section3 .container .welcomeMessage ul li:nth-child(2) {
  margin-left: 40px;
  font-weight: 600;
}

.section3 .container .welcomeMessage ul li:nth-child(3n+1) {
  font-weight: 600;
}

.section3 .container .welcomeMessage ul li>span {
  color: red;
  font-weight: 600;
  font-style: italic;
}

.section4 {
  margin-bottom: 100px;
}

.section4 .container .food {
  display: flex;
  flex-wrap: wrap;
}

.section4 .container .food .menuItems {
  padding: 50px 0px 10px 25px;
  background-color: aliceblue;
  width: 400px;
  margin: 20px 100px;


}

.section4 .container .food .menuItems img {
  width: 250px;
  margin-left: 50px;
}

.section4 .container .food .menuItems figcaption {
  letter-spacing: 1px;
  font-weight: 600;
  width: 224px;
  margin-left: 75px;
  line-height: 40px;
}

.section4 .container .food .menuItems details {
  margin-left: 75px;
  width: max-content;
}

.section4 .container .food .menuItems details summary {
  margin-left: 20px;
  width: 145px;
  line-height: 40px;
}

.section4 .container .food .menuItems details summary+span {
  margin-left: 20px;
  line-height: 40px;
  color: red;
  font-weight: 600;
}

.section4 .container .food .menuItems details span+ul {
  padding-left: 20px;
  word-spacing: 1px;
}

.section5 {
  word-spacing: 1px;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: #333;
  width: 1263px;
  color: white;
}

.section5 .container .footer {
  display: flex;
  justify-content: space-between;

}

.section5 .container .footer img {
  width: 20px;
  height: 20px;
}


@media screen and (max-width:2560px) {
  .section1 {
    width: 1520px;
  }
  .section4 .container .food .menuItems{
    margin-left: 200px;
    margin-right: 40px;
    flex-wrap: nowrap;
  }
  .section4 .container .food .menuItems details summary{
    width: 160px;
  }
  .section5 {
    width: 1519px;
  }

}


@media screen and (max-width:1024px) {
  .section1 {
    font-size: 1.3rem;
    width: 1299px;
  }

  .section1 .container .navigation .navbar2 button {
    font-size: 1.4rem;
  }

  .section2 .container .a2b img {
    width: 330px;
  }

  .section2 .container .a2b>h2 {
    margin-left: 20px;
    font-size: 1.6rem;
    line-height: 0;
  }

  .section2 .container .a2b h2+span {
    font-size: 1.3rem;
    padding-left: 25px;
    line-height: 50px;
    font-weight: 700px;
  }

  .section3 {
    font-size: 1.2rem;
    margin-left: 100px;
    width: 1100px;
    padding: 30px 100px;
  }

  .section4 {
    margin-left: 0px;
    font-size: 1.1rem;
    width: 1300px;
    padding: 50px 10px 10px 25px;
  }
  .section4 .container .food .menuItems{
    flex-wrap: nowrap;
    margin-left: 120px;
  }

  .section4 .container .food .menuItems figcaption {
    width: 300px;
    margin-left: 67px;
  }

  .section4 .container .food .menuItems details summary {
    width: 160px;
  }

  .section4 .container .food .menuItems details {
    margin-left: 30px;
  }

  .section5 {
    width: 1300px;
  }

  .section5 .container .footer {
    font-size: 1.2rem;

  }
}

@media screen and (max-width:768px) {
  .section1 {
    font-size: 1.5rem;
    width: 1398px;
  }

  .section1 .container .navigation .navbar2 button {
    font-size: 1.5rem;
  }

  .section2 .container .a2b img {
    width: 330px;
  }

  .section2 .container .a2b>h2 {
    margin-left: 20px;
    font-size: 1.6rem;
    line-height: 0;
  }

  .section2 .container .a2b h2+span {
    font-size: 1.6rem;
    padding-left: 25px;
    line-height: 50px;
    font-weight: 700px;
  }

  .section3 {
    font-size: 1.3rem;
    margin-left: 136px;
    width: 1100px;
    padding: 30px 170px;
  }

  .section3 .container .welcomeMessage {
    margin-left: 0;
    padding-left: 0;
  }

  .section3 .container .welcomeMessage ul {
    width: 800px;
    margin-left: 0;
    padding-left: 0;
  }

  .section4 {
    margin-left: 38px;
    font-size: 1.3rem;
    width: 1300px;
    padding: 50px 10px 10px 25px;
  }

  .section4 .container .food .menuItems figcaption {
    width: 300px;
    margin-left: 50px;
  }

  .section4 .container .food .menuItems details {
    margin-left: 5px;
  }

  .section4 .container .food .menuItems details summary {
    width: 300px;
    margin-left: 50px;
  }

  .section5 {
    width: 1355px;
  }

  .section5 .container .footer {
    font-size: 1.3rem;

  }
}

@media screen and (max-width:320px) {
  .section2 {
    width: 385px;
  }
}