* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'inter';
background-color: rgb(252, 231, 190);
}
.container {
  max-width: 95%;
  margin: 0 auto;
}

.section1{
  letter-spacing: 1.2px;
  /* font-style: italic; */
  font-size: 1rem;
  background-color: #333;
  /* position: fixed; */
  width: 1263px;

}

.section1 .container .navigation{
display: flex;
flex-direction: row-reverse;
font-weight: 500;
}
.section1 .container .navbar1{
padding: 20px 15px;
}
.section1 .container .navbar1 a{
text-decoration: none;
color: white;
border-radius: 1px;
padding: 20px 20px;
}
.section1 .container .navbar2 button{
  text-decoration: none;
  border: none;
  color: white;
  letter-spacing: 1.2px;
  font-size: 1rem;
  /* font-style: italic; */
 background-color: #333;
 border-radius: 1px;
 padding: 20px 15px;
}
.section1 .container .navbar2{
  flex-grow: 1;
  
}

.section1 .container .navigation .navbar1 a:hover
 {
  background-color: red;
}
.section1 .container .navigation .navbar2 button:hover
{
    background-color: red;  
  
}
.section1 .container .navigation .navbar2 .dropdown-content{
  letter-spacing: 1.2px;
  margin-left: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 20px 20px 20px 20px rgba(24, 17, 17, 0.2);
  z-index: 1;
}
.section1 .container .navigation .navbar2 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}
.section1 .container .navigation .navbar2 .dropdown-content a:hover {
  background-color: #ddd;
}
.section1 .container .navigation .navbar2:hover .dropdown-content {
  display: flex;
}


.formDetails{
margin-top: 20px;

}
.formDetails form fieldset legend{
font-size: 1.3rem;
margin-bottom: 20px;
}
.formDetails form fieldset .section2{
  margin:30px 0;
}
.formDetails form fieldset .section2 label {
  margin-right: 30px;
  margin-left: 30px;
}

.formDetails form fieldset .section3{
  margin:30px 0;
}
.formDetails form fieldset .section3 label{
  margin-right: 61px;
  margin-left: 30px;
}

.formDetails form fieldset .section4{
  margin:30px 0;
}
.formDetails form fieldset .section4 label{
  margin-right: 61px;
  margin-left: 30px;
}

.formDetails form fieldset .section5{
  margin:30px 0;
}
.formDetails form fieldset .section5 label{
  margin-right: 40px;
  margin-left: 30px;
}
.formDetails form fieldset .section5 label:nth-child(3){
margin-left: 30px;
}
.formDetails form fieldset .section5 select{
  margin-left: 20px;
  width: 240px;
}
.formDetails form fieldset .section6{
  margin:30px 0;
}
.formDetails form fieldset .section6 label{
  margin-right: 40px;
  margin-left: 30px;
}
.formDetails form fieldset .section6 label:nth-child(3){
  padding-left: 67px;
}

.formDetails form fieldset .section7 input:first-child{
margin-bottom: 30px;
margin-left: 50px;
color: rgb(255, 23, 23);
}
.formDetails form fieldset .section7 input:last-child{
  margin-left: 100px;
  color: rgb(255, 23, 23);
  }

.formDetails form fieldset input[type=submit]{
  margin-top: 10px;
  background-color:antiquewhite;
  font-size: 1.3rem;
}


/* .fname {

  padding-right: 30px;
}

.mname {
  padding-left: 60px;
  padding-right: 30px;

}

.lname {
  padding-left: 60px;
  padding-right: 30px;
}

.email {
  padding-right: 71px;
}

.address {
  padding-left: 200px;
  padding-right: 70px;

}

.mobl {
  padding-right: 35px;
}

.gender {
  padding-left: 232px;
  padding-right: 75px;
}

.menu {
  padding-right: 70px;
}

.menuitems {
  padding-left: 308px;
  padding-right: 49px;
}

.slotdate {
  padding-right: 30px;
}

.slottime {
  padding-left: 280px;
  padding-right: 20px;
}

input[disabled] {
  margin-right: 213.4px;
  margin-left: 105px;
}

input[type=submit] {

  margin-left: 495px;

} */

/* @media screen and (width:768px) {
  .form {
    font-size: small;
  }

  .fname {
    padding-right: 0px;
    padding-left: 0px;
  }

  .mname {
    padding-right: 0px;
    padding-left: 0px;
  }

  .lname {
    padding-left: 0px;
    padding-right: 0px;
  }
  input[type=text]{
    width: 151px;
  }

  .email {
    padding-right: 0px;
    width: 20px;
  }

  input[type=email] {
    width: 180px;
  }

  .address {
    padding-right: 0px;
    padding-left: 83px;
    width: 20px;
    padding-bottom: 60px;
  }

  .textarea {
    width: 345px;
  }

  .mobl {
    padding-right: 0PX;
  }

  .gender {
    padding-left: 40px;
    padding-right: 25px;
  }

  .menu {
    padding-right: 32px;
  }

  .menuitems {
    padding-left: 111px;
    padding-right: 0px;
  }

  input[list] {
    width: 300px;
  }

  .slotdate {
    padding-right: 0px;
  }

  input[type=date] {
    width: 300px;
  }

  input[disabled] {
    width: 300px;
    margin-right: 50px;
    margin-left: 5px;
  }

  .slottime {
    padding-left: 83px;
    padding-right: 0px;
  }

  input[type=submit] {

    margin-left: 295px;

  }
 
  
} */
/* @media screen and (max-width:1024px) {
.footer {

  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  display: flex;
 padding-right: 250px;
  background-color: #333;
  color: white;
}
} */

.section8{
  word-spacing: 1px;
  letter-spacing: 1px;
  /* font-style: italic; */
  font-size: 1rem;
  background-color: #333;
  width: 1263px;
  color: white;
}

.section8 .container .footer{
  display: flex;
justify-content:space-between;

}
.section8 .container .footer img{
width: 20px;
height: 20px;
}